body{
    font-family:'Times New Roman', Times, serif;
}


nav{
    text-align: center;
    width:50%;
    margin: 5% 0% 0% 25%;
    
}

nav li{
    display: inline;
    align-items: center;
    

}

nav li a{
    padding:3% 6% 0% 3%;
    text-decoration: none;
    color: rgb(9, 8, 8);
    align-items: center;
    font-weight: bold;
    
    
    
}

.signIn{
    padding: 1%;
    width: 100px;
    background-color:#4E944F;
    border-radius: 10px;
    border: #4E944F 2px solid;
    color: white;
    font-weight: bold;
    margin: -50% 0 0 78%;
}

.signUp{
    padding: 1%;
    width: 100px;
    background-color:white;
    border-radius: 10px;
    border:#83BD75 2px solid;
    color: rgb(9, 8, 8);
    font-weight: bold;
    margin:-50% 0% 0% 1%;
    
}

.homeRight img{
    width: 45%;
    margin:-6% 0 0 50%;

}
.homeLeft h1{
    margin:-41% 0% 0% 6%; 
    font-size: 48px;
    width:40%;
}

.homeLeft p{
    margin:3% 0% 0% 6%; 
    font-size: 22px;
    width:40%;

}

.starting{
    padding: 1%;
    width: 150px;
    background-color:#4E944F;
    border-radius: 10px;
    border: #4E944F 2px solid;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0 0 6%;
}

.extras{
    margin: 5% 0 0 6%;
    display: flex;
}

.years{
    
    border: 2px solid #B8F78D;
    width: 28%;
    margin: 0% 0% 0% 1%;
    padding: 6px;
    background-color:#B8F78D;
}

i{
    color: #F7793B;
    font-size: 22px;
    margin: 5% 0 0 6%;
}

h3{
    margin: -7% 0 0 20%; 
    font-size: 18px;
    font-weight: bolder;
}

p{
    margin: 8% 0 0 20%;
    font-size: 18px;
}

.learners{
    border: 2px solid #B8F78D;
    width: 28%;
    margin: 0% 0% 0% 1%;
    padding: 6px;
    background-color:#B8F78D;
}


.course{
    border: 2px solid #B8F78D;
    width: 28%;
    margin: 0% 0% 0% 1%;
    padding: 6px;
    background-color:#B8F78D;
}

.aboutLeft img{
    margin: 3% 0 0 6%;

}
.aboutRight h1{
    font-size: 48px;
    width:50%;
    margin: -35% 0 0 50%;

}
.aboutRight p{
    margin: 5% 0 0 50%;
    font-size: 22px; 
    line-height: 25px;

}

.subjects h1{
    font-size: 48px;
    width:50%;
    margin: 10% 0 0 30%;
 
}

.subjects p{
    margin: 3% 0 0 30%;
    font-size: 22px; 
    line-height: 25px;
 
}

.choices{
    display: flex;
    
}

.choice1 {
    padding: 1%;
    width: 200px;
    background-color:#4E944F;
    border-radius: 10px;
    border: #4E944F 2px solid;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0 0 10%; 
    
}

.choice2{
    padding: 1%;
    width: 200px;
    background-color:#4E944F;
    border-radius: 10px;
    border: #4E944F 2px solid;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0 0 18%; 
    
}

.choice3{
    padding: 1%;
    width: 200px;
    background-color:white;
    border-radius: 10px;
    border:#83BD75 2px solid;
    color: rgb(9, 8, 8);
    font-weight: bold;
    margin: 5% 0 0 16%; 


}

.offers{
    display: flex;
}

.offer1 {
    width:25%;
    border:1px solid #83BD75;
    margin: 3% 0 0 7%; 
    border-radius: 20px;
    padding: 1px;
}
.offer1 h3{
    margin: 5% 0 0 9%; 
    text-align: center;
    width:35%;
}

.offer1 p{
   margin: 3% 0 0 10%;  
}

/* For all the h4 in the offer section */

h4{
    font-size: 18px;
    margin: 5% 0 0 9%; 
    width: 40%
}



/*For all the join buttons  */
.join{
    padding: 4%;
    width: 100px;
    background-color:white;
    border-radius: 10px;
    border:#83BD75 2px solid;
    color: rgb(9, 8, 8);
    font-weight: bold; 
    margin: -10% 0% 2% 65%; 
}

.join2{
    padding: 4%;
    width: 100px;
    background-color:white;
    border-radius: 10px;
    border:#83BD75 2px solid;
    color: rgb(9, 8, 8);
    font-weight: bold; 
    margin: 27.5% 0% 2% 65%;  
}

.join3{
    
        padding: 4%;
        width: 100px;
        background-color:white;
        border-radius: 10px;
        border:#83BD75 2px solid;
        color: rgb(9, 8, 8);
        font-weight: bold; 
        margin: 19% 0% 2% 65%; 
}

.offer2{
    width:25%;
    border:1px solid #83BD75;
    margin: 3% 0 0 7%; 
    border-radius: 20px;
    padding: 1px; 
}

.offer2 h3{
    margin: 5% 0 0 10%; 
    text-align: center;
    width:45%
}

.offer2 p{
    margin: 3% 0 0 10%;  

}

.offer3{
    width:25%;
    border:1px solid #83BD75;
    margin: 3% 0 0 7%; 
    border-radius: 20px;
    padding: 1px;   
}

.offer3 h3{
    margin: 5% 0 0 7%; 
    text-align: center;
    width:55%
}

.offer3 p{
    margin: 3% 0 0 10%;  

}

.see{
    display: flex;
}
.see h4{
    width:6%;
    margin: 3% 0 0 85%;  

}

.see i{
    margin: 3% 5% 0 0%;
    color:rgb(8, 7, 7);
    font-size: 23px;
}

.commenting {
    font-size: 44px;
    margin: 3% 5% 0 7%;
    width:40%;
}

.comments{
    display: flex;
}

.comment1{
    border:1px solid #83BD75;
    width:55%;
    margin: 3% 5% 0 7%;
    border-radius: 20px;


}

.left1 i{
color:#4E944F;
margin: 5% 0% 0% 10%;
}

.left i{
    color: #4E944F;
    margin: 5% 0% 0% 90%;
}

.person1{
    display: flex;
}

.comment1 img{
    
    margin: 2% 0% 0 7%;
    width: 10%;
}

.comment1 h4{
    margin: 2% 0% 0 2%;
    font-size: 15px;
}

.comment1 p{
    margin: 2% 0% 0% 20%;
}

.comment2{
    border:1px solid #83BD75;
    width:55%;
    margin: 3% 5% 0 7%;
    border-radius: 20px;
}

.person2{
    display: flex;
}

.comment2 img{
    margin: 2.5% 0% 0 7%;
    width: 10%;
}

.comment2 h4{
    margin: 2% 0% 0% 2%;
    font-size: 15px;
}

.comment2 p{
    margin: 6% 0% 0% 20%;
}

.right1 i{
    color: #4E944F;
    margin: 5% 0% 0% 10%;
}

.right i{
    color: #4E944F;
    margin: 5% 0% 0% 90%;
}

.next_comments{
    display: flex;
}

.next_comments h4{
    width:6%;
    margin: 3% 0 0 85%;  

}

.next_comments i{
    margin: 3% 0% 0 1%;
    color:rgb(6, 5, 5);
    font-size: 23px;
}

/* CONTACTS */
.contacts{
 background-color: #B8F78D;
}

.contact_info h2{
    margin:2% 0% 0% 34%;
    font-size: 30px;
     width:35%;
    
}

.email_container{
    border: 2px solid #B8F78D;
    width:35%;
    margin:2% 0% 0 30%;
    display: flex;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
}

.email_container p{
    color: #979595;
    margin:2% 0% 0 20%;
text-align: center;
}

.email_container button{
    padding: 4%;
    width: 200px;
    background-color:#4E944F;
    border-radius: 10px;
    border: #4E944F 2px solid;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: 0% 0 0 38%;
}

.links{
    display: flex;
}
.first_links {
    margin:2% 10% 5% 10%; 
    width:20%;
    
}

.second_links {
    margin: 2% 10% 5% 10%;  
    width:40%;
}

.third_links{
    margin: 2% 10% 5% 10%;  
    width:20%;
}

.third_links i{
    color: rgb(14, 13, 13);
    margin: 2% 10% 5% 0%;  
    font-size: 18px;
}

