{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/60979908e3.js" crossorigin="anonymous"></script>
    <title>E-elimu</title>
</head>
<body>
    {% comment %} HOME {% endcomment %}
<div class="heading">
    <img src="{% static 'images/Logo.png' %}">
    <nav>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </nav>
    <div class="nav-button">
    <button type="text" class="login">Log In</button>
    <button type="text" class="register">Register</button>
    </div>

    {% block content  %}

    {% endblock content %}

{% comment %} FOOTER {% endcomment %}
<section class="footer">
    <img src="{% static 'images/Logo.png' %}">
    <p>Join us today for<br> quality education</p>
    <div class="socials">
    <div class="facebook"><i class="fa-brands fa-facebook-f"></i>
    </div>
    <div class="twitter"><i class="fa-brands fa-twitter"></i>
    </div>
    <div class="linkedin"><i class="fa-brands fa-linkedin-in"></i>
    </div>
</div>

<div class="footer-description">
    <div class="links">
        <h4>Useful links</h4>
        <p>Home<br>About<br>Service</p>
    </div>
<div class="information">
    <h4>Information</h4>
    <p>Join us<br>Courses<br>Blogs<br>News</p>
</div>
<div class="support">
    <h4>Support</h4>
    <p>FAQ's<br>Support Centre<br>Help Centre</p>
</div>
</div>
</section>

</body>
</html>