{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/60979908e3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'css/style.css' %}> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-elimu</title>
</head>
{% comment %} HOME {% endcomment %}
<section class="home">
<div class="heading">  
<nav>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Courses</a></li>
    <li><a href="#">Contact</a></li>
</nav>
<button type="text" class="signIn">Sign In</button>
<button type="text" class="signUp">Sign Up</button>
</div>
<div class="homeRight">
   <img src={% static 'images/image 1.png' %}>
</div>
<div class="homeLeft">
    <h1>Get the best tutors<br> through this platform</h1>
    <p>Helping students of all ages thrive in an easy and<br>interesting way online. </p>
    <button type="text" class="starting">Get Started</button>
</div>
<div class="extras">
        <div class="years">
        <i class="fa-solid fa-book-open-reader"></i>    
        <h3>5 years</h3>
        <p>Offers a better way to<br> learn.</p>
        </div>
        <div class="learners">
        <i class="fa-solid fa-user"></i>   
        <h3>10K +</h3>
        <p>Helped our learners<br>thrive.</p>
        </div>
        <div class="course">
        <i class="fa-solid fa-book-open"></i>
        <h3>100+</h3>
        <p>Offers a variety of subjects/Courses.</p>
        </div>

</div>
</section>
{% comment %} about {% endcomment %}
<section class="about">
    <div class="aboutLeft">
        <img src={% static 'images/image_2-removebg-preview.png' %}>
    </div>
    <div class="aboutRight">
        <h1>Why you should choose us <br>and why we are the best</h1>
        <p>E-elimu is an e-learning platform connected with a collection<br> of interactive online services that offer information, tools, and<br> resources to support and improve the management and<br>delivery of education to trainers, students, and others involved<br> in the field.</p>
    </div>
</section>
  {% comment %}SUBJECTS  {% endcomment %}
 <section class=" subjects">
    <h1>We provide many courses </h1>
    <p>We offer various kinds of courses for elementary, secondary,<br> and higher education. We invite all students to learn with us.</p>
        <div class="choices">
        <button class="choice1">Primary</button>
        <button class="choice2">Secondary</button>
        <button class="choice3">Post Secondary</button>
        </div>
        <div class="offers">
            <div class="offer1">
                <h3>UI/UX Design</h3>
                <p>Instead of focusing solely<br>on marketing or<br>programming, the UI/UX<br>Design Specialization<br>course offers practical,<br>skill-based training<br>centered around a visual<br>communications<br>perspective.<br></p>
                <h4>KES. 12,000</h4>
                <button class="join">Join</button>
            </div>
            <div class="offer2">
                <h3>Web development</h3>
                <p>The goal of this course is<br>to introduce students to<br>the principles of web<br>development through <br>project-based learning.</p>
                <h4>KES. 15,000</h4>
                <button class="join2">Join</button>
            </div>
            <div class="offer3">
                <h3>Mobile development</h3>
                <p>Students are introduced<br>to mobile application<br>design, development,<br>and programming<br>technologies in this<br>
                course.</p>
                <h4>KES. 20,000</h4>
                <button class="join3">Join</button>
             </div>
        </div>
        <div class="see">
            <h4>See more</h4>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
</section>
 {% comment %}COMMENTS  {% endcomment %}
 <section class="comment">      
        <h2 class="commenting"> What people are saying</h2>
        <div class="comments">
            <div class="comment1">
                <div class="left1"><i class="fa-solid fa-quote-left"></i></div>
                <p>People who wish to learn more about<br> design can access a vast collection of<br>knowledge and experience through e-elimu.</p>
                <div class="left"><i class="fa-solid fa-quote-right"></i></div>
                <div class="person1">
                <img src={% static 'images/Ellipse 2.png' %}>
                <h4>Wafula Wanyama</h4> 
                </div>
                </div>
            <div class="comment2">
                <div class= right1><i class="fa-solid fa-quote-left"></i></div>
                <p>E-elimu provides real-time feedback,<br>which has tremendous value for learning.</p>    
               <div class="right"> <i class="fa-solid fa-quote-right"></i></div>
                <div class="person2">
                    <img src={% static 'images/Ellipse 3.png' %}>
                <h4>Nikarasinga  Ajuga</h4>     
                </div>
            </div>
        </div>
        <div class="next_comments">
            <h4>Comments</h4>
            <i class="fa-solid fa-arrow-right"></i>
           </div>
</section>
{% comment %} CONTACTS {% endcomment %}
<section class="contacts">
    <div class="contact_info">
        <h2>Subscribe to our newsletter</h2>
        <div class="email_container">
            <p>Email</p>
            <button>Subscribe</button>
        </div>
    </div>
    <div class="links">
    <div class="first_links">
        <p>Home<br>Blogs<br>Testimonials<br>Events</p>
    </div>
    <div class="second_links">
        <p>Helpful links<br>Services<br>Supports<br>Privacy policy<br> Terms and Conditions</p>  
    </div>
    <div class="third_links">
        <p>Follow us:<br>
            <i class="fab fa-facebook-f"><u>Facebook</u></i><br>
            <i class="fab fa-twitter"><u>Twitter</u></i><br>
            <i class="fab fa-linkedin-in"><u>LinkedIn</u></i><br>
    </div>
    </div>
</section>
<body>
    
</body>
</html>

